header {
    font-size: 4rem;
    text-align: center;
}

main {
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.container {
    display: flex;
    flex-direction: row;

    border: thin solid black;
}

.item {
    padding: 1em;
    border: thin solid black;
    margin: 0, 1em;
    background-color: rgb(245, 238, 238);
}