<header>Students Records</header>

<main>
  <div class="container">
    
    <div class="item">
      <h3>Subject Passing Staus</h3>
      <div>All = {{all}}</div>
      <div>Partial = {{partial}}</div>
      <div>Name = {{none}}</div>
    </div>
  </div>
</main>